body {
  background: black !important;
}

.Todo-list {
  width: 95%;
  margin: 100px auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.Todo-list .list,
.col-proggres,
.col-selesai {
  border: 3px solid #45c089;
  padding: 10px;
  height: max-content;
}
.Todo-list .list-status-paragraf {
  font-weight: bold;
  color: white;
}
.Todo-list .sls {
  font-weight: bold;
  color: #45c089;
}

.Todo-list .input-group-text {
  background: #45c089;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.Todo-list .nama-list {
  font-weight: bold;
  color: white;
  font-size: 21px;
  /* margin-bottom: 30px; */
}
.Todo-list .nama-list.selesai {
  color: #4e4e4e;
  text-decoration: line-through;
  animation: namaList 0.3s ease-in;
  animation-fill-mode: forwards;
}
.Todo-list .col-selesai span.close {
  color: red;
  font-size: 21px;
  cursor: pointer;
}
@keyframes namaList {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}
.Todo-list .list-proggres {
  animation: namaList 0.3s ease-in;
  animation-fill-mode: forwards;
}

.Todo-list .total-selesai p {
  color: white;
  font-weight: bold;
}
.Todo-list .total-selesai p span {
  color: #45c089 !important;
}
.Todo-list .nama-list.edited {
  transform: translateY(-10px) scale(0);
  transition: 0.2s;
}
.Todo-list .option {
  background: white;
  color: black;
  z-index: -1;
}
.Todo-list .flex-column {
  background: white;
  z-index: 2;
  position: absolute;
  padding: 3px 5px;
  margin-top: 5px;
  display: none;
}
.Todo-list .flex-column.act {
  display: flex !important;
}
.Todo-list .flex-column span {
  color: #45c089;
  margin-top: 2px;
  cursor: pointer;
}
.Todo-list input.edit-list {
  position: absolute;
  transform: translateY(5px);
  border: none;
  border-bottom: 3px solid #45c089;
  background: none;
  outline: none;
  color: white;
  opacity: 0;
  transition: 0.4s;
}
.Todo-list input.edit-list.act {
  transform: translateY(0px);
  opacity: 1;
}
.Todo-list span.edited {
  display: none;
}
